/* Form CSS Checkboxes */
.csscheckbox {
    margin: 1px 0;
    padding: 7px 0;
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.csscheckbox input {
    position: absolute;
    opacity: 0;
}

.csscheckbox span {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: rgba(250, 250, 250, .25);
    border: 1px solid #dae0e8;
}

.csscheckbox span:hover {
    background: rgba(250, 250, 250, .75);
}

.csscheckbox span:after {
    content: "";
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    opacity: 0;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    -webkit-transform: scale(.5);
    transform: scale(.5);
}

.csscheckbox input:checked + span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.csscheckbox input:checked + span:after {
    background-color: #eeeeee;
}

.csscheckbox-default input:checked + span:after {
    background-color: #dae0e8;
}

.csscheckbox-warning input:checked + span:after {
    background-color: #deb25c;
}

.csscheckbox-danger input:checked + span:after {
    background-color: #de815c;
}

.csscheckbox-info input:checked + span:after {
    background-color: #5cafde;
}

.csscheckbox-success input:checked + span:after {
    background-color: #afde5c;
}

.csscheckbox-primary input:checked + span:after {
    background-color: #5ccdde;
}

.csscheckbox.small{
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
         -o-transform: scale(0.8);
            transform: scale(0.8);
}

.csscheckbox + label > small{color: #aaa;}